<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.config.mapper.DefineFieldMapper">
    <resultMap id="DefineFieldResultMap"  type="com.ils.modules.mes.config.entity.DefineField"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="table_code" property="tableCode" jdbcType="VARCHAR" />
        <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
         <result column="field_desc" property="fieldDesc" jdbcType="VARCHAR" />
        <result column="field_type" property="fieldType" jdbcType="VARCHAR" />
        <result column="scope" property="scope" jdbcType="INTEGER" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , table_code , field_name ,field_desc, field_type , scope , note , create_by , create_time , update_by , update_time , is_deleted 
  </sql>
  
  <insert id="insertBatch">
    insert into mes_define_field ( <include refid="base_column_list" /> ) values
    <foreach collection="list" item="item" index="index" separator="," >
    ( #{item.tenantId ,jdbcType=VARCHAR }, #{item.id ,jdbcType=VARCHAR }, #{item.tableCode ,jdbcType=VARCHAR }, #{item.fieldName ,jdbcType=VARCHAR }, #{item.fieldDesc ,jdbcType=VARCHAR },#{item.fieldType ,jdbcType=VARCHAR }, #{item.scope ,jdbcType=INTEGER }, #{item.note ,jdbcType=VARCHAR }, #{item.createBy ,jdbcType=VARCHAR }, #{item.createTime ,jdbcType=TIMESTAMP }, #{item.updateBy ,jdbcType=VARCHAR }, #{item.updateTime ,jdbcType=TIMESTAMP }, #{item.deleted ,jdbcType=TINYINT })
    </foreach>  
  </insert>
</mapper>