<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.produce.mapper.PurchaseOrderLineMapper">
    <resultMap id="PurchaseOrderLineResultMap"  type="com.ils.modules.mes.produce.entity.PurchaseOrderLine"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="purchase_order_id" property="purchaseOrderId" jdbcType="VARCHAR" />
        <result column="item_id" property="itemId" jdbcType="VARCHAR" />
        <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
        <result column="item_name" property="itemName" jdbcType="VARCHAR" />
        <result column="spec" property="spec" jdbcType="VARCHAR" />
        <result column="plan_qty" property="planQty" jdbcType="VARCHAR" />
        <result column="complete_qty" property="completeQty" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="required_time" property="requiredTime" jdbcType="TIMESTAMP" />
        <result column="sales_order_id" property="salesOrderId" jdbcType="VARCHAR" />
        <result column="sales_order_no" property="salesOrderNo" jdbcType="VARCHAR" />
        <result column="work_order_id" property="workOrderId" jdbcType="VARCHAR" />
        <result column="work_order_no" property="workOrderNo" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
    <resultMap id="PurchaseOrderLinePageVOMap" extends="PurchaseOrderLineResultMap" type="com.ils.modules.mes.produce.vo.PurchaseOrderLinePageVO">
        <result column="purchase_code" property="purchaseCode" jdbcType="VARCHAR"/>
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR"/>
        <result column="handperson_id" property="handpersonId" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , purchase_order_id , item_id , item_code , item_name , spec , plan_qty , complete_qty , unit , required_time , sales_order_id , sales_order_no , work_order_id , work_order_no , status , create_by , create_time , update_by , update_time , is_deleted 
  </sql>
  
  <delete id="delByMainId" parameterType="string">
      DELETE FROM mes_purchase_order_line WHERE purchase_order_id = #{mainId}
  </delete>

  <select id="listPage" resultMap="PurchaseOrderLinePageVOMap" >
        SELECT
            a.*,
            b.supplier_name,
            handperson_id,
            note,
            purchase_code
        FROM
            mes_purchase_order_line a
            LEFT JOIN (select id,handperson_id,note,purchase_code,supplier_name from mes_purchase_order) b ON a.purchase_order_id = b.id
            ${ew.customSqlSegment}
  </select>
</mapper>