<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.produce.mapper.WorkOrderLineMethodMapper">
     <resultMap id="WorkOrderLineMethodResultMap"  type="com.ils.modules.mes.produce.entity.WorkOrderLineMethod">
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="related_type" property="relatedType" jdbcType="VARCHAR" />
        <result column="work_order_line_id" property="workOrderLineId" jdbcType="VARCHAR" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
        <result column="process_id" property="processId" jdbcType="VARCHAR" />
        <result column="process_code" property="processCode" jdbcType="VARCHAR" />
        <result column="process_name" property="processName" jdbcType="VARCHAR" />
        <result column="qc_method_name" property="qcMethodName" jdbcType="VARCHAR" />
        <result column="qc_method_id" property="qcMethodId" jdbcType="VARCHAR" />
        <result column="qc_type" property="qcType" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
    
    <sql id="base_column_list">
     tenant_id , id , related_type , work_order_line_id , seq , process_id , process_code , process_name , qc_method_name , qc_method_id , qc_type ,  note , create_by , create_time , update_by , update_time , is_deleted
  </sql>

	<delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM mes_work_order_line_method
        WHERE work_order_line_id = #{id}
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultMap="WorkOrderLineMethodResultMap">
        SELECT <include refid="base_column_list"/>
        FROM mes_work_order_line_method
        WHERE work_order_line_id = #{id}
	</select>
</mapper>
