<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.base.sop.mapper.SopTemplateControlMapper">
    <resultMap id="SopTemplateControlResultMap"  type="com.ils.modules.mes.base.sop.entity.SopTemplateControl"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="template_step_id" property="templateStepId" jdbcType="VARCHAR" />
        <result column="control_seq" property="controlSeq" jdbcType="TINYINT"/>
        <result column="control_type" property="controlType" jdbcType="VARCHAR" />
        <result column="control_logic" property="controlLogic" jdbcType="VARCHAR" />
        <result column="control_logic_name" property="controlLogicName" jdbcType="VARCHAR"/>
        <result column="entity_item" property="entityItem" jdbcType="VARCHAR" />
        <result column="entity_item_name" property="entityItemName" jdbcType="VARCHAR"/>
        <result column="control_name" property="controlName" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , template_step_id , control_seq , control_type , control_logic , control_logic_name , entity_item , entity_item_name , control_name , note , create_by , create_time , update_by , update_time , is_deleted
  </sql>
  

    <delete id="deletedByMainId">
        delete
        from mes_sop_template_control
        where template_step_id in (select id from mes_sop_template_step where template_id = #{mainId})
    </delete>

    <select id="selectByMainId" parameterType="String" resultMap="SopTemplateControlResultMap">
        select *
        from mes_sop_template_control
        where template_step_id in (select id from mes_sop_template_step where template_id = #{mainId})
    </select>
</mapper>