<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.material.mapper.ItemTransferRecordMapper">
    <resultMap id="ItemTransferRecordResultMap"  type="com.ils.modules.mes.material.entity.ItemTransferRecord"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="item_cell_id" property="itemCellId" jdbcType="VARCHAR" />
        <result column="transfer_status" property="transferStatus" jdbcType="VARCHAR" />
        <result column="father_qrcode" property="fatherQrcode" jdbcType="VARCHAR" />
        <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
        <result column="batch" property="batch" jdbcType="VARCHAR" />
        <result column="event_id" property="eventId" jdbcType="VARCHAR" />
        <result column="event_name" property="eventName" jdbcType="VARCHAR" />
        <result column="event_object" property="eventObject" jdbcType="VARCHAR" />
        <result column="bill_code" property="billCode" jdbcType="VARCHAR" />
        <result column="item_id" property="itemId" jdbcType="VARCHAR" />
        <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
        <result column="item_name" property="itemName" jdbcType="VARCHAR" />
        <result column="spec" property="spec" jdbcType="VARCHAR"/>
        <result column="qty" property="qty" jdbcType="DECIMAL" />
        <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
        <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
        <result column="out_storage_code" property="outStorageCode" jdbcType="VARCHAR" />
        <result column="out_storage_name" property="outStorageName" jdbcType="VARCHAR" />
        <result column="out_storage_employee" property="outStorageEmployee" jdbcType="VARCHAR" />
        <result column="out_time" property="outTime" jdbcType="TIMESTAMP" />
        <result column="out_note" property="outNote" jdbcType="VARCHAR" />
        <result column="hope_in_house_code" property="hopeInHouseCode" jdbcType="VARCHAR" />
        <result column="hope_in_house_name" property="hopeInHouseName" jdbcType="VARCHAR" />
        <result column="in_storage_code" property="inStorageCode" jdbcType="VARCHAR" />
        <result column="in_storage_name" property="inStorageName" jdbcType="VARCHAR" />
        <result column="in_storage_employee" property="inStorageEmployee" jdbcType="VARCHAR" />
        <result column="in_time" property="inTime" jdbcType="TIMESTAMP" />
        <result column="in_note" property="inNote" jdbcType="VARCHAR" />
        <result column="produce_date" property="produceDate" jdbcType="TIMESTAMP" />
        <result column="valid_date" property="validDate" jdbcType="TIMESTAMP" />
        <result column="quality_status" property="qualityStatus" jdbcType="VARCHAR" />
        <result column="sop_step_id" property="sopStepId" jdbcType="VARCHAR"/>
        <result column="sop_control_id" property="sopControlId" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="manage_way" property="manageWay" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , item_cell_id , transfer_status , father_qrcode , qrcode , batch , event_id , event_name , event_object , bill_code , item_id , item_code , item_name , spec , qty , unit_id , unit_name , out_storage_code , out_storage_name , out_storage_employee , out_time , out_note , hope_in_house_code , hope_in_house_name , in_storage_code , in_storage_name , in_storage_employee , in_time , in_note , produce_date , valid_date , quality_status , sop_control_id , sop_step_id , task_id , manage_way , create_by , create_time , update_by , update_time , is_deleted
  </sql>

    <select id="queryInStocksItemTramTransferRecord" parameterType="string" resultMap="ItemTransferRecordResultMap">
        SELECT *
        FROM (SELECT * from mes_item_transfer_record WHERE transfer_status = '1' and manage_way in (2,3)) h
         where hope_in_house_code = #{code}
            OR hope_in_house_code IS NULL
            OR hope_in_house_code = ''
    </select>
</mapper>