<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.report.mapper.TaskReportMapper">
    <resultMap id="TaskReportResultMap"  type="com.ils.modules.mes.report.entity.TaskReport">
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="task_type" property="taskType" jdbcType="VARCHAR" />
        <result column="task_id" property="taskId" jdbcType="VARCHAR" />
        <result column="template_id" property="templateId" jdbcType="VARCHAR" />
        <result column="report_context" property="reportContext" jdbcType="VARCHAR" />
        <result column="sop_step_id" property="sopStepId" jdbcType="VARCHAR" />
        <result column="sop_control_id" property="sopControlId" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , task_type , task_id , template_id , report_context , sop_step_id , report_context , create_by , create_time , update_by , update_time , is_deleted
  </sql>

</mapper>