<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.base.machine.mapper.MachineDataconfigMapper">
    <resultMap id="MachineDataconfigResultMap"  type="com.ils.modules.mes.base.machine.entity.MachineDataconfig"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="data_type" property="dataType" jdbcType="VARCHAR" />
        <result column="data_name" property="dataName" jdbcType="VARCHAR" />
        <result column="data_unit" property="dataUnit" jdbcType="VARCHAR" />
        <result column="data_adress" property="dataAdress" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , data_type , data_name , data_unit , data_adress , note , create_by , create_time , update_by , update_time , is_deleted
  </sql>

</mapper>