<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.base.machine.mapper.SparePartsStorageMapper">
    <resultMap id="SparePartsStorageResultMap"  type="com.ils.modules.mes.base.machine.entity.SparePartsStorage"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="storage_type" property="storageType" jdbcType="VARCHAR" />
        <result column="storage_code" property="storageCode" jdbcType="VARCHAR" />
        <result column="storage_name" property="storageName" jdbcType="VARCHAR" />
        <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
        <result column="is_qccontrol" property="qccontrol" jdbcType="VARCHAR" />
        <result column="qc_status" property="qcStatus" jdbcType="VARCHAR" />
        <result column="up_storage_type" property="upStorageType" jdbcType="VARCHAR" />
        <result column="up_storage_code" property="upStorageCode" jdbcType="VARCHAR" />
        <result column="up_storage_name" property="upStorageName" jdbcType="VARCHAR" />
        <result column="up_storage_id" property="upStorageId" jdbcType="VARCHAR" />
        <result column="attach" property="attach" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
    <resultMap id="SparePartsStorageVOResultMap" extends="SparePartsStorageResultMap" type="com.ils.modules.mes.base.machine.vo.SparePartsStorageVO">
        <result column="has_child" property="hasChild" jdbcType="VARCHAR" />
    </resultMap>
   <sql id="base_column_list">
     tenant_id , id , storage_type , storage_code , storage_name , qrcode , is_qccontrol , qc_status , up_storage_type , up_storage_code , up_storage_name , up_storage_id , attach , note , status , create_by , create_time , update_by , update_time , is_deleted 
  </sql>


    <select id="querySparePartsHouse" resultMap="SparePartsStorageVOResultMap" >
        select
            a.tenant_id as tenant_id,
            a.id as id,
            a.attach as attach,
            a.house_code as storage_code,
            a.house_name as storage_name,
            a.note as note,
            a.qrcode as qrcode,
            a.status as status,
            a.create_by as create_by,
            a.create_time as create_time,
            a.update_by as update_by,
            a.update_time as update_time,
            a.is_deleted as is_deleted,
            (select case when (count(*))> 0 then 1 else 0 end as has_child from mes_spare_parts_storage where up_storage_id = a.id) as has_child
        from
            mes_spare_parts_house a

    </select>
</mapper>