<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ils.modules.mes.base.material.mapper.ItemSupplierMapper">
     <resultMap id="ItemSupplierResultMap"  type="com.ils.modules.mes.base.material.entity.ItemSupplier"> 
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="item_id" property="itemId" jdbcType="VARCHAR" />
        <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
        <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="is_deleted" property="deleted" jdbcType="TINYINT" />
    </resultMap>
    
    <resultMap id="ItemSupplierVOResultMap"   extends="ItemSupplierResultMap"  type="com.ils.modules.mes.base.material.vo.ItemSupplierVO"> 
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="base_column_list">
     tenant_id , id , item_id , supplier_id ,supplier_code, create_by , create_time , update_by , update_time , note , is_deleted 
  </sql>

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  mes_item_supplier 
		WHERE
			 item_id = #{id} 		
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultMap="ItemSupplierVOResultMap">
		SELECT a.*,b.supplier_name FROM mes_item_supplier a  left join  mes_supplier b on  a.supplier_id = b.id
		WHERE
			 a.item_id = #{id} 		
	</select>
</mapper>
